

<div id="rec3209989" class="r" style="padding-bottom:0px; " data-animationappear="off" data-record-type="18"  >

<!-- cover -->
	<div class="cover" id="recorddiv3209989" bgimgfield="img"
		style="height:80vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); "
	>

		<div class="cover_carrier" id="coverCarry3209989"
			data-content-cover-id="3209989"
			data-content-cover-bg="http://images.tildacdn.info/139a5a97-1888-40fe-a169-fca999a9c5d8/"
			data-content-cover-height="80vh"
			data-content-cover-parallax="fixed"
			style="background-image:url('http://images.tildacdn.info/139a5a97-1888-40fe-a169-fca999a9c5d8/');height:80vh;"
		>
		</div>
      
    <div class="filteropacity" style="height:80vh;background-image: -moz-linear-gradient(top, rgba(255,255,255,0.20), rgba(255,255,255,0.80));background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.20), rgba(255,255,255,0.80));background-image: -o-linear-gradient(top, rgba(255,255,255,0.20), rgba(255,255,255,0.80));background-image: -ms-linear-gradient(top, rgba(255,255,255,0.20), rgba(255,255,255,0.80));background-image: linear-gradient(top, rgba(255,255,255,0.20), rgba(255,255,255,0.80));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ccffffff', endColorstr='#33ffffff');"></div>


	<div class="container">

        <div class="lr_col_12 ">

			<div class="centeredVerticallyBlock" style="height:80vh; ">

                <div class="t001" style="text-align:center;">

                  <div class="wrapper" data-hook-content="covercontent">

			<h4 class="uptitle-sm" field="subtitle">
				<div style="color:#000000;" data-customstyle="yes">International Physics and Control Society<br /></div>
			</h4>
			<h1 class="title-xl" field="title">
				<div style="color:#000000;" data-customstyle="yes">IPACS<br /></div>
			</h1>
			<div class="descr-lg centerText dcenter" field="descr">
				<div style="color:#000000;" data-customstyle="yes">
					The society unites experts wishing to promote information exchange and interaction between researchers in the research areas related to Physics and Control sciences worldwide.<br /><br /><br /><br /><strong>"The International Physics And Control Society" (IPACS),</strong> unites experts wishing to promote information exchange and interaction between researchers in the research areas related to Physics and Control sciences worldwide. The areas of particular interest are nonlinear dynamics and control; quantum information and control; control of oscillations, chaos and bifurcations; control in thermodynamics; modeling and identification of physical systems; complexity and self-organization; analysis and control of complex networks; synchronization; control of plasma, beams, lasers, mechanical systems, nano- and femto- technologies as well as other related applications in science and technology. <br /><br /> The primary objectives of IPACS are: <br /><br /> <ul> <li> To promote interactions among researchers interested in fields related to both physics and control; </li> <li> To facilitate dissemination of information on current activities and results in areas of common interests; </li> <li> To enhance the visibility and worldwide recognition of physics and control related research and its vast potential applications. </li> </ul> <br /><br />  <br /> The Society achieves these objectives by organizing or co-organizing conferences, seminars, workshops on various topics related to physics and control, by establishing websites containing current information, archive of the Society proceedings, forums for information exchange, by launching new academic journals. It also rewards researchers and educators who made outstanding contributions in the concerned research areas. <br /><br /> The main <a href="http://conf.physcon.ru/">IPACS conferences</a> are Physics and Control (Physcon) held in Saint Petersburg, Russia (2003, 2005), Potsdam, Germany (2007), Catania, Italy (2009), Leon, Spain (2011). Submission and peer reviewing is organized in web based <a href="http://coms.physcon.ru/">conference management system (CoMS)</a>. Conference proceedings are available from the Open Access <a href="http://lib.physcon.ru/">IPACS library</a>. The Directory of Physics and Control resources is located at<a href="http://physcon.ru/dir/">http://physcon.ru/dir/</a>. In 2012 a new <a href="http://cap.physcon.ru/">Cybernetics And Physics (CAP) journal</a> is launched. <br /><br /> To become <a href="http://physcon.ru/membership">IPACS regular member</a> one needs to accept the <a href="http://physcon.ru/regulations">IPACS regulations</a> and to have at least one paper accepted to an IPACS conference or to an IPACS journal. <br /><br /> The <a href="http://physcon.ru/contacts">Society Secretariat</a> is currently located at the Institute of Problems in Mechanical Engineering of Russian Academy of Sciences <a href="http://www.ipme.ru/">(IPME RAS)</a>, Saint Petersburg, Russia. <br /><br />    <br />
				</div>
			</div>
			<span class="space"></span>

                  </div>

                </div>

            </div>

        </div>

    </div>



  

</div>
    


</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>







